:root {
  --light-blue-color: #e9f0fd;
  --white-color: #ffffff;
  --black-color-font: #0f0101;
  --title-color-font: #555252;
  --accent-color: #1abc9c;
  --text-color: #828080;
  --description-color: #323232;
  --price-color: #8c8c8c;
  --active-color: #ff0000;
  --primary-font-stack: 'Open Sans', sans-serif;
  --title-font-stack: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: var(--primary-font-stack);

  /* Typography */
}
h1,
h2 {
  font-family: var(--title-font-stack);
  color: var(--title-color-font);
  margin: 0;
  text-align: center;
}

.navigation,
.nav-link,
.logo {
  color: var(--black-color-font);
}

/* CONTAINER */
.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
/* NAVBAR */
.navbar {
  padding-top: 24px;
  margin-bottom: 109px;
}

/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-color-font);
  padding: 10px;
  font-size: 30px;
  line-height: 1.06;
  color: var(--title-color-font);
  font-weight: 300;
  margin: 0px;
}
.logo-m {
  color: var(--accent-color);
  text-transform: uppercase;
}

/* NAV-LINK */
.nav-link {
  display: inline-block;
  text-decoration: none;
  font-family: var(--title-font-stack);
  padding: 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* SITE-NAV */
.site-nav {
  display: flex;
  align-content: center;
  list-style: none;
  font-family: var(--primary-font-stack);
  font-weight: 700;
  font-size: 14px;
  font-weight: 0.7px;
  margin: 0px;
  padding-left: 0;
}

/* PRODUCTS-SECTION */
.products-section {
  margin-bottom: 103px;
}

/* PRODUCTS-TITLE */
.products-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.66;
  margin-bottom: 84px;
}

/* PRODUCTS-LIST */
.products-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0;
}

/* PRODUCTS-ING */
.products-img {
  background-color: var(--light-blue-color);
}

.products-img:hover,
.products-img:focus {
  background-color: var(--accent-color);
}

/* PRODUCTS-DESCRIPTION */
.products-description {
  background-color: var(--description-color);
  color: var(--white-color);
  padding: 10px;
}

.products-description:hover,
.products-description:focus {
  background-color: var(--accent-color);
}
/* PRODUCTS-PRICE */
.products-price {
  background-color: var(--price-color);
  color: var(--white-color);
  padding: 10px;
}

.products-price:hover,
.products-price:focus {
  background-color: #7fd9c7;
}

.products-price:active {
  color: var(--active-color);
}
/* PRODUCTS-LINE */
.products-line {
  font-family: var(--title-font-stack);
  font-size: 18px;
  line-height: 1.77;
  font-weight: 900;
}
/* PRODUCTS-LINK */
.products-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.products-link:active {
  color: var(--active-color);
}
.products-link:hover,
.products-link:focus {
  background-color: orange;
}
/* PRODUCTS-LIST */
.products-list {
  list-style: none;
  font-family: var(--title-font-stack);
  font-size: 18px;
  line-height: 1.77;
}

/* TITLE-NEWS */
.title-news {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.66;
  margin-bottom: 119px;
}

.title-news-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.news-link {
  text-decoration: none;
  color: var(--white-color);
  background-color: orange;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}

.news-link:hover,
.news-link:focus {
  color: var(--accent-color);
}

.news-link:active {
  color: var(--active-color);
}

.news-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}

.news-information-title,
.news-library-title,
.news-transport-title {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 600;
}

.news-information, .news-library {
  display: flex;
  flex-direction: column;

}

.news-item:not(:last-child) {
  margin-right: 30px;
}

/* .test:hover,
.test:focus {
  background-color: var(--accent-color);
} */
