:root {
  --light-blue-color: #e9f0fd;
  --white-color: #ffffff;
  --black-color-font: #0f0101;
  --title-color-font: #555252;
  --accent-color: #1abc9c;
  --text-color: #828080;
  --description-color: #323232;
  --price-color: #8c8c8c;
  --active-color: #ff0000;
  --primary-font-stack: 'Open Sans', sans-serif;
  --title-font-stack: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: var(--primary-font-stack);

  /* Typography */
}
.products-title,
.news-section {
  font-family: var(--title-font-stack);
  color: var(--title-color-font);
  margin: 0;
  text-align: center;
}

.navigation,
.nav-link,
.logo {
  color: var(--black-color-font);
}

/* CONTAINER */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
/* NAVBAR */
.navbar {
  padding-top: 24px;
  margin-bottom: 109px;
  min-height: 42px;
}

/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-color-font);
  padding: 10px;
  font-size: 30px;
  line-height: 1.06;
  color: var(--title-color-font);
  font-weight: 300;
  margin: 0px;
}
.logo-m {
  color: var(--accent-color);
  text-transform: uppercase;
}

/* NAV-LINK */
.nav-link {
  display: inline-block;
  text-decoration: none;
  font-family: var(--title-font-stack);
  padding: 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* SITE-NAV */
.site-nav {
  display: flex;
  align-content: center;
  list-style: none;
  font-family: var(--primary-font-stack);
  font-weight: 700;
  font-size: 14px;
  font-weight: 0.7px;
  margin: 0px;
  padding-left: 0;
}

.products-section {
  margin-bottom: 103px;
}
/* PRODUCTS-TITLE */
.products-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.66;
  margin-bottom: 84px;
}

/* PRODUCTS-LIST */
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.products-line:hover .products-description {
  background-color: var(--accent-color);
}

.products-line:hover .products-price {
  background-color: #7fd9c7;
}

/* PRODUCTS-ING */
.products-img {
  background-color: var(--light-blue-color);
}

/* PRODUCTS-DESCRIPTION */
.products-description {
  display: inline-block;
  background-color: var(--description-color);
  color: var(--white-color);
  text-align: center;
  height: 40px;
  width: 201px;
  padding: 5px;
}

/* PRODUCTS-PRICE */
.products-price {
  display: inline-block;
  background-color: var(--price-color);
  color: var(--white-color);
  align-items: center;
  height: 40px;
  width: 54px;
  padding: 5px;
}

.products-price:active {
  color: var(--active-color);
}
/* PRODUCTS-LINE */
.products-line {
  font-family: var(--title-font-stack);
  font-size: 18px;
  line-height: 1.77;
  font-weight: 900;
  margin-right: 30px;
  /*90/4= 
  30*3=90px */
  flex-basis: calc(25% - 22.5px);
  flex-grow: 0;
  margin-bottom: 30px;
}

.products-line:nth-child(4n) {
  margin-right: 0;
}
.products-line:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
/* PRODUCTS-LINK */
.products-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  text-decoration: none;
}

.products-link:active {
  color: var(--active-color);
}
/* PRODUCTS-LINK-DESCRIPTION */
.products-link-description {
  margin: 0;
}

/* PRODUCTS-LIST */
.products-list {
  list-style: none;
  font-family: var(--title-font-stack);
  font-size: 18px;
  line-height: 1.77;
}

/* NEW-SECTION */
.news-section {
  margin-bottom: 47px;
}

/* TITLE-NEWS */
.title-news {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.66;
  margin-bottom: 119px;
  margin-top: 0;
}

.title-news-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.news-item {
  display: flex;
  /* 30*2=60 
  60/3=20*/
  flex-basis: calc(100% / 3 - 20px);
}

.news-item:not(:last-child) {
  margin-right: 30px;
}

.news-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  width: 160px;
  height: 51px;
  border-radius: 5px;
  cursor: pointer;
}

.news-link:hover,
.news-link:focus {
  color: var(--black-color-font);
}

.news-link:active {
  color: var(--active-color);
}

.news-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  margin: 0;
  text-align: left;
  margin-bottom: 18px;
}

.news-information-title,
.title-news .news-library-title,
.news-transport-title {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 600;
}

.news-library-title {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 600;
}
.news-transport-title {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 600;
}

.test:hover,
.test:focus {
  background-color: var(--accent-color);
}

.news-information-title {
  margin: 0;
  text-align: left;
  margin-bottom: 45px;
}
.news-library-title {
  margin: 0;
  text-align: left;
  margin-bottom: 45px;
}
.news-transport-title {
  margin: 0;
  text-align: left;
  margin-bottom: 45px;
}
/* NEWS-IMG */
.img {
  margin-bottom: 15px;
}
